<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
<form action="query" method="get">
    <span>
        用户:<input type="text" name="mark_no">
    </span>
    <br>
    <span>
        密码:<input type="password" name="password">
    </span>
    <br>
    初始密码88888,首次登陆的员工登陆后请修改自己的密码。
    <br>
    如忘记密码，请去人力资源部办公室找有关人员找回自己的密码。
    <br>
    如果还未注册门禁系统，请去人力资源办公室找有关人员注册。
    <br>
    <span>
        <input type="submit" name="submit1" value="登录">
    </span>
</form>
</body>
</html>