<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录成功</title>
</head>
<body>
<!--<a form action="query" method="get">-->
<a href="http://127.0.0.1:8000/access/"target="_blank">请求通过门禁</a>
<br>
<a href ='http://127.0.0.1:8000/show/'target='_blank'>查询所有部门信息</a>
<br>
<a href="http://127.0.0.1:8000/employee/"target="_blank">查询所有员工信息</a>
<br>
<a href="http://127.0.0.1:8000/open/"target="_blank">查询门禁开启记录表</a>
<br>
<a href="http://127.0.0.1:8000/control/"target="_blank">查询所有门禁信息</a>
<br>
<a href="http://127.0.0.1:8000/change/"target="_blank">修改个人密码</a>
<br>
<a href="http://127.0.0.1:8000/password/"target="_blank">查看所有人的密码</a>
<br>
<a href="http://127.0.0.1:8000/regiter/"target="_blank">注册新员工进入门禁系统</a>
<!--<form action="query" method="get">
    <span>
        用户:<input type="text" name="username">
    </span>
    <br>
    <span>
        密码:<input type="password" name="password">
    </span>
    <br>
    <span>
        <input type="submit" name="submit1" value="登录">
    </span>
<a href ='http://127.0.0.1:8000/regiter/'target='_blank'>修改密码</a>
</form>-->
</body>
</html>